---
title: "Teaching construction"
permalink: /teaching/
author_profile: true
---

<h2>Teaching Assistantships</h2>
Fall 2018: CS458/658 Computer Security and Privacy, University of Waterloo, Waterloo, Ontario.
Spring 2018: CS458/658 Computer Security and Privacy, University of Waterloo, Waterloo, Ontario.
Winter 2018: CS458/658 Computer Security and Privacy, University of Waterloo, Waterloo, Ontario.
Fall 2017: CS458/658 Computer Security and Privacy, University of Waterloo, Waterloo, Ontario.
Spring 2017: CS458/658 Computer Security and Privacy, University of Waterloo, Waterloo, Ontario.
Winter 2017: CS490 Information Systems Management, University of Waterloo, Waterloo, Ontario.
Fall 2016: CS135 Designing Functional Programs, University of Waterloo, Waterloo, Ontario.

Winter 2016: 62.206 Discrete Structures and Programming, Brandon University, Brandon, Manitoba.
Winter 2016: 62:182 Linear Algebra, Brandon University, Brandon, Manitoba. 
Winter 2016: 70:163 Critical Thinking, Brandon University, Brandon, Manitoba.
Fall 2015: 62.206 Discrete Structures and Programming, Brandon University, Brandon, Manitoba.
Fall 2015: 62:182 Linear Algebra, Brandon University, Brandon, Manitoba. 
Fall 2015: 70:162 Introduction to Logic, Brandon University, Brandon, Manitoba.
Winter 2015: 62.206 Discrete Structures and Programming, Brandon University, Brandon, Manitoba.
Winter 2015: 62:182 Linear Algebra, Brandon University, Brandon, Manitoba. 
Fall 2014: 62:182 Linear Algebra, Brandon University, Brandon, Manitoba. 
Fall 2014: 70:162 Introduction to Logic, Brandon University, Brandon, Manitoba.
Winter 2014: 62:182 Linear Algebra, Brandon University, Brandon, Manitoba. 
Fall 2013: 62:182 Linear Algebra, Brandon University, Brandon, Manitoba. 
Winter 2013: 62:182 Linear Algebra, Brandon University, Brandon, Manitoba. 







<h2>Teaching Education</h2>
[Fundamentals of University Teaching](https://uwaterloo.ca/centre-for-teaching-excellence/support-graduate-students/fundamentals-university-teaching-program), Centre for Teaching Excellence, University of Waterloo, Waterloo, Ontario
--In Progress-- [Certificate in University Teaching](https://uwaterloo.ca/centre-for-teaching-excellence/support-graduate-students/certificate-university-teaching), Centre for Teaching Excellence, University of Waterloo, Waterloo, Ontario



{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
